<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Nuevo tipo de uva</h1>
    </div>
  </div>
</div>
<hr/>
<div class="container final-container">
	<%= render 'form' %>
</div>
